.contentContainer {

  height: 100vh;
  overflow: hidden;
  text-align: center;
}

ul {
  width: 100px;
}

li>div {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 100px;
  height: 100px;
}

li>div img {
  object-fit: cover;
  width: 100px;
  height: 100px;
}

