.logoDiv {
  /* background: url(../images/fyblogo.png); */
  margin-top: 10px;
  margin-left: 10px;
  height: 50px;
  width: 80px;
}

.fyblogo:hover {
  opacity: 0;
}

@keyframes example {
  0% {
    background-image: url("https://img.icons8.com/ios/50/000000/doge.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 50px;
    height: 50px;
  }
  25% {
    background-image: url("https://img.icons8.com/carbon-copy/100/000000/cat-footprint.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 50px;
    height: 50px;
  }
  50% {
    background-image: url("https://img.icons8.com/wired/64/000000/cat.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 50px;
    height: 50px;
  }
  75% {
    background-image: url("https://img.icons8.com/carbon-copy/100/000000/dog-footprint.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 50px;
    height: 50px;
  }
  100% {
    background-image: url("https://img.icons8.com/ios/50/000000/doge.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 50px;
    height: 50px;
  }
}

.logoDiv:hover {
  animation-name: example;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  cursor: pointer;
}
