
.primary {
  font-family: 'Rubik', sans-serif;
  font-family: 'Quicksand', sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 75px;
  background-color: rgba(221, 231, 220, 0.719);
  /* border: 1px solid black; */
  box-shadow: 2px 1px 15px -5px #bdbdbd;

}

.nav2 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;

}

.nav2 a {
  letter-spacing: 1.6px;
  padding: 10px;
  text-align: center;
  width: 250px;
  text-decoration: none;
  color: #234A56;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: 1.2s;

}

.nav2 a:hover {
  letter-spacing: 2px;
  color: white;
  background-color: #417D95;
  transition: 0.64s;
  opacity: 50%;
}