.primary {
  position: sticky;
  top: 0;
  font-family: "Rubik", sans-serif;
  font-family: "Quicksand", sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 75px;
  background-color: rgb(221, 231, 220);
  /* border: 1px solid black; */
  box-shadow: 4px 1px 15px -5px #bdbdbd;
}

.nav2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav2 a {
  letter-spacing: 1.6px;
  padding: 10px;
  text-align: center;
  width: 100wh;
  text-decoration: none;
  color: #234a56;
}

.nav2 a:hover {
  letter-spacing: 2px;
  color: white;
  background-color: #417d95;
  transition: 0.64s;
  opacity: 50%;
}

.nav2 a:active {
  letter-spacing: -5px;
  opacity: 30%;
}


