@import url("https://fonts.googleapis.com/css?family=Lato:100|Oswald:300");

body {
  background: rgba(78, 78, 78, 1);
  color: rgba(255, 255, 255, 1);
  font-family: sans-serif;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

.lato {
  font-family: Lato;
}

.oswald {
  font-family: Oswald;
}

.flex {
  display: flex;
}

.wrap {
  flex-wrap: wrap;
}

.align {
  align-items: center;
}

.center {
  justify-content: center;
}
